/* Estilos Gerais */

body {
	
	font-family: 'IBM Plex Sans', sans-serif;
}


a, a:hover, a:focus {
	text-decoration: none;
}

.btn {
	
	border-radius: 4px;
	background: #4455DD;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all .5s ease;
}

.btn:hover {
	
	background-color: #fff;
	color: #000;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
	border-color: transparent;
}

.btn-lg {
	
	border-radius: 4px;
	background: #4455DD;
    padding: 15px 30px;
    color: #fff;
    font-size: 22px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all .5s ease;
}

.btn-lg:hover {
	
	background-color: #fff;
	color: #000;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

/* Header */

.header {
	
	padding: 10px;
	width: 100%;
	background: #F2F2F2;
}

.menu {
	
	text-align: right;
}

.menu li {
	
	display: inline-block;
	padding-left: 20px;
	padding-top: 13px;
	font-size: 16px;
}

.menu li a {
	
	font-size: 16px;
	color: #707070;
	transition: all .5s ease;
}

.menu li a:hover {
	
	color: #000;
}

.menu li a.btn{
	
	font-size: 16px;
	color: #fff;
	transition: all .5s ease;
}

.menu li a.btn:hover{
	
	background-color: #fff;
	color: #000;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}


/* Introdução */

.intro {
	padding-top: 70px;
	padding-bottom: 30px;
}

.intro h1 {
	
	font-size: 42px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 60px;
	line-height: 58px;
}

.intro a {
	font-size: 22px;
}


/* Investimento */


.invest-sec {
	
	padding: 25px 0 25px 0;
	width: 100%;
	background: #4455DD;
	
}

.invest-box {
	
	padding: 20px;	
	border-radius: 4px;
	background-color:#fff;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	
}

.invest-box-text-1 {
	
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
}

.invest-box-text-2 {
	
	color: #4455DD;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
}

.invest-box-text-2:after {
	
	margin: 10px 0 10px 0;
	display: block;
	content: "";
	background-color: #DEDEDE;
	width: 30px;
	height: 2px;
	
}

.invest-box p {
	
	margin-bottom: 20px;
	font-size: 14px;
	color: #808080;
}

.invest-box-btn {
	
	font-size: 14px;
	padding: 10px 110px 10px 10px;
	border-radius: 4px;
	background: #4455DD;
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all .5s ease;
	color: #fff;
}

.invest-box-btn:hover {
	
	background-color: #27328B;
	color: #fff;
}


/* Vantagens */

.vantagens {
	
	padding: 80px 0 80px 0;
}

.vantagens h2 {
	
	font-size: 42px;
	font-weight: 500;
	text-align: center;
}

.vantagens img {
	
	margin-top: 50px;
	max-width: 300px;
	max-height: 200px;
}

.vantagens h3 {
	
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 450;
		
}

.vantagens p {
	
	margin-top: 10px;
	color: #808080;
	font-size: 16px;
	text-align: center;
}

.vantagens-btn {
	
	margin-top: 50px;
	
}

/* Citação */


.citacao {
	
	width: 100%;
	height: 700px;
	background: url(../img/svg/Symbol-6.png) no-repeat center;
}

.citacao img {
	
	margin-top: 250px;
}

.block {
	
	font-style: italic;
	font-weight: 100;
	margin-left: 80px;
	color: #fff;
	margin-bottom: 10px;
	max-width: 600px;
	font-size: 42px;
}

.citacao cite {
	
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	margin-left: 80px;
}


/* Crie sua conta */

.conta {
	
	margin-top: 50px;
}

.conta h2 {
	
	font-size: 42px;
	margin-bottom: 50px;
}

.conta-btn {
	
	margin: 20px 0 20px 0;
}

.mui-textfield > input:focus ~ label,
.mui-textfield > textarea:focus ~ label {
  color: #4455DD;
}

.mui-textfield > input:focus,
.mui-textfield > textarea:focus {
  border-color: #4455DD;
  border-width: 2px;
}


/* footer */

.footer {
	
	margin-top: 30px;
	width: 100%;
	background: #000;
}

.footer div {
	text-align: center;
	padding: 20px;
}
.footer img {
	
	max-width: 100px;
/*	max-height: 30px;*/
	filter: invert(100%);
}

.footer p {
	color: #fff;
	font-size: 8px;
}